.tamplate-pg-section {
    width: 1330px;
    margin: 0 auto;
}

.tamplate-pg__h1 {
    color: #292929;
    font-size: 25px;
    text-align: center;
    margin: 50px 0;
    margin-top: 100px;
}

.tamplate-pg__p {
    letter-spacing: 0.3px;
    line-height: 22px;
}

.tamplate-pg__p span {
    font-weight: 700;
}