@media (min-width: 921px) {
    .main-slider__img-mobile, .main-slider__img-laptop {
        display: none;
    }
}

@media (max-width: 920px) {
    .main-slider__img {
        display: none;
    }
}

@media (min-width: 1601px) {
    .main-slider {
        .slick-slider{
            margin-top: 25px;
        }
        .main-slider__img {
            border-radius: 15px;
            width: 1300px;
            height: 520px;
            display: block;
            z-index: 1;
        }

        .main-slider__img-mobile, .main-slider__img-laptop {
            display: none;
        }

        .slick-list {
            overflow: hidden;
        }


        .slick-track{
            display: flex;
        }

        .slick-slide {
            display: flex;
            justify-content: center;
        }

        .slick-dots{
            display: flex !important;
            position: absolute;
            left: 50%;
            top: 820px;
            transform: translate(-50%, 0);
            z-index: 999;
        }

        .slick-dots li.slick-active{
            button {
                background-color: #FF5756;
                border: 1px solid #BC5046;
            }
        }

        .slick-dots li button{
            font-size: 0;
            background-color: #383838;
            height: 14px;
            width: 14px;
            border: 1px solid #292929;
            border-radius: 50%;
            margin-left: 5px;
        }
    }
}

@media (min-width: 1201px) and (max-width: 1600px) {
    .main-slider {
        .main-slider__img {
            margin-top: 25px;
            width: 1050px;
            border-radius: 15px;
            height: 420px;
            user-select: none;
        }

        .main-slider__img-mobile, .main-slider__img-laptop {
            display: none;
        }

        .slick-list {
            overflow: hidden;
        }

        .slick-track{
            display: flex;
        }

        .slick-slide {
            display: flex;
            justify-content: center;
            z-index: 1;
        }

        .slick-dots{
            display: flex !important;
            position: absolute;
            left: 50%;
            top: 665px;
            transform: translate(-50%, 0);
            z-index: 999;
        }

        .slick-dots li.slick-active{
            button {
                background-color: #FF5756;
                border: 1px solid #BC5046;
            }
        }

        .slick-dots li button{
            font-size: 0;
            background-color: #383838;
            height: 14px;
            width: 14px;
            border: 1px solid #292929;
            border-radius: 50%;
            margin-left: 5px;
        }
    }
}

@media (min-width: 1021px) and (max-width: 1200px) {
    .main-slider {
        .main-slider__img {
            margin-top: 25px;
            width: 900px;
            height: 360px;
            border-radius: 15px;
        }

        .main-slider__img-mobile, .main-slider__img-laptop {
            display: none;
        }

        .slick-list {
            overflow: hidden;
        }

        .main-slider__img {
            user-select: none;
        }

        .slick-track{
            display: flex;
        }

        .slick-slide {
            display: flex;
            justify-content: center;
            z-index: 1;
        }

        .slick-dots{
            display: flex !important;
            position: absolute;
            left: 50%;
            top: 560px;
            transform: translate(-50%, 0);
            z-index: 999;
        }

        .slick-dots li.slick-active{
            button {
                background-color: #FF5756;
                border: 1px solid #BC5046;
            }
        }

        .slick-dots li button{
            font-size: 0;
            background-color: #383838;
            height: 14px;
            width: 14px;
            border: 1px solid #292929;
            border-radius: 50%;
            margin-left: 5px;
        }
    }
}

@media (min-width: 921px) and (max-width: 1020px) {
    .main-slider {
        .main-slider__img {
            margin-top: 25px;
            width: 840px;
            height: 336px;
            border-radius: 15px;
        }

        .main-slider__img-mobile, .main-slider__img-laptop {
            display: none;
        }

        .slick-list {
            overflow: hidden;
        }

        .main-slider__img {
            user-select: none;
        }

        .slick-track{
            display: flex;
        }

        .slick-slide {
            display: flex;
            justify-content: center;
            z-index: 1;
        }

        .slick-dots{
            display: flex !important;
            position: absolute;
            left: 50%;
            top: 535px;
            transform: translate(-50%, 0);
            z-index: 999;
        }

        .slick-dots li.slick-active{
            button {
                background-color: #FF5756;
                border: 1px solid #BC5046;
            }
        }

        .slick-dots li button{
            font-size: 0;
            background-color: #383838;
            height: 13px;
            width: 13px;
            border: 1px solid #292929;
            border-radius: 50%;
            margin-left: 5px;
        }
    }
}

@media (min-width: 841px) and (max-width: 920px) {
    .main-slider {
        margin-top: 80px;

        .main-slider__img-laptop {
            margin-top: 25px;
            width: 800px;
            height: 600px;
            border-radius: 15px;
        }

        .main-slider__img-mobile, .main-slider__img {
            display: none;
        }

        .slick-list {
            overflow: hidden;
        }

        .main-slider__img {
            user-select: none;
        }

        .slick-track{
            display: flex;
        }

        .slick-slide {
            display: flex;
            justify-content: center;
            z-index: 1;
        }

        .slick-dots{
            display: flex !important;
            position: absolute;
            left: 50%;
            top: 670px;
            transform: translate(-50%, 0);
            z-index: 999;
        }

        .slick-dots li.slick-active{
            button {
                background-color: #FF5756;
                border: 1px solid #BC5046;
            }
        }

        .slick-dots li button{
            font-size: 0;
            background-color: #383838;
            height: 13px;
            width: 13px;
            border: 1px solid #292929;
            border-radius: 50%;
            margin-left: 5px;
        }
    }
}

@media (min-width: 561px) and (max-width: 840px) {
    .main-slider {
        margin-top: 80px;

        .main-slider__img-laptop {
            margin-top: 25px;
            border-radius: 15px;
            width: 80%;
            margin-left: 10%;
        }

        .main-slider__img-mobile, .main-slider__img {
            display: none;
        }

        .slick-list {
            overflow: hidden;
        }

        .main-slider__img {
            user-select: none;
        }

        .slick-track{
            display: flex;
        }

        .slick-slider {
            position: relative;
        }

        .slick-slide {
            display: flex;
            justify-content: center;
            z-index: 1;
        }

        .slick-dots{
            display: flex !important;
            position: absolute;
            left: 50%;
            top: 93%;
            transform: translate(-50%, 0);
            z-index: 999;
        }

        .slick-dots li.slick-active{
            button {
                background-color: #FF5756;
                border: 1px solid #BC5046;
            }
        }

        .slick-dots li button{
            font-size: 0;
            background-color: #383838;
            height: 11px;
            width: 11px;
            border: 1px solid #292929;
            border-radius: 50%;
            margin-left: 5px;
        }
    }
}

@media (min-width: 441px) and (max-width: 560px) {
    .main-slider {
        margin-top: 80px;

        .main-slider__img-mobile {
            margin-top: 25px;
            width: 80%;
            margin-left: 10%;
            border-radius: 12px;
        }

        .slick-slider {
            position: relative;
        }

        .main-slider__img-laptop, .main-slider__img {
            display: none;
        }

        .slick-list {
            overflow: hidden;
        }

        .main-slider__img {
            user-select: none;
        }

        .slick-track{
            display: flex;
        }

        .slick-slide {
            display: flex;
            justify-content: center;
            z-index: 1;
        }

        .slick-dots{
            display: flex !important;
            position: absolute;
            left: 50%;
            top: 95%;
            transform: translate(-50%, 0);
            z-index: 999;
        }

        .slick-dots li.slick-active{
            button {
                background-color: #FF5756;
                border: 1px solid #BC5046;
            }
        }

        .slick-dots li button{
            font-size: 0;
            background-color: #383838;
            height: 13px;
            width: 13px;
            border: 1px solid #292929;
            border-radius: 50%;
            margin-left: 5px;
        }
    }
}

@media (max-width: 440px) {
    .main-slider {
        margin-top: 80px;

        .main-slider__img-mobile {
            margin-top: 25px;
            width: 80%;
            border-radius: 10px;
            margin-left: 10%;
        }

        .slick-slider {
            position: relative;
        }

        .main-slider__img-laptop, .main-slider__img {
            display: none;
        }

        .slick-list {
            overflow: hidden;
        }

        .main-slider__img {
            user-select: none;
        }

        .slick-track{
            display: flex;
        }

        .slick-slide {
            display: flex;
            justify-content: center;
            z-index: 1;
        }

        .slick-dots{
            display: flex !important;
            position: absolute;
            left: 49%;
            top: 94%;
            transform: translate(-50%, 0);
            z-index: 999;
        }

        .slick-dots li.slick-active{
            button {
                background-color: #FF5756;
                border: 1px solid #BC5046;
            }
        }

        .slick-dots li button{
            font-size: 0;
            background-color: #383838;
            height: 11px;
            width: 11px;
            border: 1px solid #292929;
            border-radius: 50%;
            margin-left: 5px;
        }
    }
}