html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: "Roboto", sans-serif;
	vertical-align: baseline;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-word;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image: url("assets/images/Background/main-background.jpg");
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

p, input {
	color: #373737;
}

h1, h2, h3, h4, h5, h6 {
	color: #292929;
}

input,
button {
    border: none;
    outline: none;
}

:focus {
	outline: none;
}

a {
	text-decoration: none;
}

input[type="radio"] {
	appearance: none; /* Убираем стандартный вид радиокнопки */
	width: 15px;
	height: 15px;
	border: 1px solid #373737;
	border-radius: 50%;
	cursor: pointer;
	outline: none;
	background-color: #fff;
	position: relative;
}

input[type="radio"]:checked {
	background-color: #fff;
	border-color: #BC5046;
}

input[type="radio"]:checked::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 10px;
	height: 10px;
	background-color: #FF5756;
	border-radius: 50%;
	transform: translate(-50%, -50%);
}

.no-scroll {
	overflow: hidden;
	height: 100vh;
}

@media (min-width: 1601px) {
	.breadcrumbs {
		width: 1330px;
		margin: 20px auto;
		font-size: 13px;
	}
}

@media (min-width: 1201px) and (max-width: 1600px) {
	.breadcrumbs {
		width: 1030px;
		margin: 20px auto;
		font-size: 13px;
	}
}

@media (min-width: 1021px) and (max-width: 1200px) {
	.breadcrumbs {
		width: 890px;
		margin: 20px auto;
		font-size: 12px;
	}
}

@media (min-width: 921px) and (max-width: 1020px) {
	.breadcrumbs {
		width: 840px;
		margin: 20px auto;
		font-size: 11px;
	}
}

@media (max-width: 920px) {
	.breadcrumbs {
		margin: 0 auto;
		margin-top: 100px;
		margin-left: 5%;
		font-size: 11px;
	}
}
