@media (min-width: 1601px) {
    .table-container {
        height: auto;
        margin-top: 50px;
        margin-left: 25px;
    }

    .order-history-table {
        width: 98%;
        border-collapse: collapse;
    }

    .order-history-table th,
    .order-history-table td {
        text-align: center;
        padding: 8px;
    }

    .order-history-table th {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        font-weight: 500;
    }

    .order-history-table td {
        padding: 16px;
        vertical-align: middle;
    }

    .product-image {
        width: 80px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .product-title {
        margin-top: 8px;
    }

}

@media (min-width: 1201px) and (max-width: 1600px) {
    .table-container {
        height: auto;
        margin-top: 50px;
        margin-left: 25px;
    }

    .order-history-table {
        width: 98%;
        border-collapse: collapse;
    }

    .order-history-table th,
    .order-history-table td {
        font-size: 13px;
        text-align: center;
        padding: 8px;
    }

    .order-history-table th {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        font-weight: 500;
    }

    .order-history-table td {
        padding: 16px;
        vertical-align: middle;
    }

    .product-image {
        width: 80px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .product-title {
        margin-top: 8px;
    }

}

@media (min-width: 1021px) and (max-width: 1200px) {
    .table-container {
        height: auto;
        margin-top: 50px;
        margin-left: 25px;
    }

    .order-history-table {
        width: 98%;
        border-collapse: collapse;
    }

    .order-history-table th,
    .order-history-table td {
        font-size: 12px;
        text-align: center;
        padding: 8px;
    }

    .order-history-table th {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        font-weight: 500;
    }

    .order-history-table td {
        padding: 16px;
        vertical-align: middle;
    }

    .product-image {
        width: 60px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .product-title {
        margin-top: 8px;
    }

}

@media (min-width: 921px) and (max-width: 1020px) {
    .table-container {
        height: auto;
        margin-top: 50px;
        margin-left: 25px;
    }

    .order-history-table {
        width: 98%;
        border-collapse: collapse;
    }

    .order-history-table th,
    .order-history-table td {
        font-size: 11px;
        text-align: center;
        padding: 8px;
    }

    .order-history-table th {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        font-weight: 500;
    }

    .order-history-table td {
        padding: 16px;
        vertical-align: middle;
    }

    .product-image {
        width: 50px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .product-title {
        margin-top: 8px;
    }

}

@media (min-width: 841px) and (max-width: 920px) {
    .table-container {
        height: auto;
        margin-top: 50px;
        margin-left: 25px;
    }

    .order-history-table {
        width: 98%;
        border-collapse: collapse;
    }

    .order-history-table th,
    .order-history-table td {
        font-size: 12px;
        text-align: center;
        padding: 8px;
    }

    .order-history-table th {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        font-weight: 500;
    }

    .order-history-table td {
        padding: 16px;
        vertical-align: middle;
    }

    .product-image {
        width: 50px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .product-title {
        margin-top: 8px;
    }

}

@media (min-width: 701px) and (max-width: 840px) {
    .table-container {
        height: auto;
        margin-top: 50px;
        margin-left: 25px;
    }

    .order-history-table {
        width: 98%;
        border-collapse: collapse;
    }

    .order-history-table th,
    .order-history-table td {
        font-size: 12px;
        text-align: center;
        padding: 8px;
    }

    .order-history-table th {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        font-weight: 500;
    }

    .order-history-table td {
        padding: 16px;
        vertical-align: middle;
    }

    .product-image {
        width: 50px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .product-title {
        margin-top: 8px;
    }

}

@media (min-width: 451px) and (max-width: 700px) {
    .table-container {
        width: 90%;
        max-width: 630px;
        height: auto;
        margin-top: 50px;
        margin-left: 25px;
        overflow-x: auto;
        margin-bottom: 150px;
    }

    .order-history-table {
        width: 100%;
        min-width: 630px;
        border-collapse: collapse;
    }

    .order-history-table th,
    .order-history-table td {
        font-size: 11px;
        text-align: center;
        padding: 8px;
    }

    .order-history-table th {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        font-weight: 500;
    }

    .order-history-table td {
        padding: 16px;
        vertical-align: middle;
    }

    .product-image {
        width: 40px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .product-title {
        margin-top: 8px;
    }
}

@media (max-width: 450px) {
    .table-container {
        width: 92%;
        max-width: 630px;
        height: auto;
        margin-top: 100px;
        margin-left: 25px;
        overflow-x: auto;
        margin-bottom: 100px;
    }

    .order-history-table {
        width: 100%;
        min-width: 630px;
        border-collapse: collapse;
    }

    .order-history-table th,
    .order-history-table td {
        font-size: 11px;
        text-align: center;
        padding: 8px;
    }

    .order-history-table th {
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
        font-weight: 500;
    }

    .order-history-table td {
        padding: 16px;
        vertical-align: middle;
    }

    .product-image {
        width: 50px;
        height: auto;
        margin: 0 auto;
        display: block;
    }

    .product-title {
        margin-top: 8px;
    }
}

